*
!**/
!*.*
nimbledeps/
_work_nim_community/
output.json
*.db
tests/data/output.json
*.rdb
!Dockerfile
*.dmg
*.deb
*.exe
*.env
*.sqlite*
*.js

# Cache
nimcache/
rnimcache/
dnimcache/

*.o
!/icons/*.o
*.obj
*.ilk
*.exp
*.pdb
*.lib
*.dll
*.exe
*.so
*.dylib
*.zip

*.log
*.pdb
.DS_Store
*.out
src/htmldocs
htmldocs